/* Font Size */
$fs__s: 0.5em;
$fs__m: 1em;
$fs__l: 1.5em;
$fs__xl: 2em;

/* BG Colors */
$bg-base-dark: #33333f;
$bg-secondary-dark: #11111d;

/* Text Colors */
$txt-color__red: #a11;
$txt-color__white: #eee;
$txt-color__light-blue: #cff;
$txt-shadow-dark: #313131;

/* Scale values for use with scale()*/
$scale__s: 0.5;
$scale__m: 0.75;
$scale__base: 1;
$scale__l: 1.25;
$scale__xl: 1.5;

$cursor-radius: 1rem;
